// Basic Colors
$primary-color: #007bff !default;        // Primary color
$secondary-color:#6c757d !default;
$default-color: #343a40 !default;        // Default color
$success-color: #28a745 !default;        // Success color
$info-color: #17a2b8 !default;           // Info color
$warning-color: #ffc107 !default;        // Warning color
$fault-color: #dc3545 !default;
$white-color: #fff !default;


// Various colors
$text-color: #343a40 !default;           // Body text
$gray: #f3f3f4 !default;                 // Background wrapper color
$default-label-color: #D1DADE !default;  // Default label, badge
$label-badge-color: #5E5E5E !default;

$background-color:#343a40 !default;
$body-background: #343a40 !default;

$boxed-background: #343a40 !default;
$boxed-width: 100% !default;

// gridbox colors ( default panel colors)
$border-color: #e7eaec !default;     // gridbox border

//Border radius for buttons
$btn-border-radius: 3px !default;

//Sidebar width
$sidebar-width: 260px !default;
